In [19]:
from sqlalchemy import create_engine
import pandas as pd
import datetime
engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')
con = engine.connect()

In [22]:
q10 = con.execute('''SELECT name AS Facility, ((b.slots * f.guestcost) + (b.slots * f.membercost)) AS total_revenue 
                    FROM Bookings AS b 
                    JOIN Facilities AS f USING (facid)
                    JOIN Members AS m 
                    USING (memid)
                    WHERE ((b.slots * f.guestcost + b.slots * f.membercost)) < 1000
                    GROUP BY 1
                    ORDER BY 2 DESC;''')
question_10 = pd.DataFrame(q10.fetchall(), columns=['facility', 'total_revenue'])
question_10.head()

          facility  total_revenue
0   Massage Room 2          179.8
1   Massage Room 1          179.8
2   Tennis Court 2           90.0
3   Tennis Court 1           90.0
4  Badminton Court           46.5

In [23]:
q11 = con.execute('''SELECT firstname, surname, recommendedby
                    FROM Members
                    WHERE recommendedby != 0 OR recommendedby IS NOT NULL
                    ORDER BY surname, firstname;''')
question_11 = pd.DataFrame(q11.fetchall(), columns = ['firstname', 'lastname', 'recommendedby'])
question_11.head()

  firstname lastname recommendedby
0  Florence    Bader             9
1      Anne    Baker             9
2   Timothy    Baker            13
3       Tim   Boothe             3
4    Gerald  Butters             1

In [24]:
q12 = con.execute('''SELECT firstname, surname, name AS facility
                    FROM Bookings AS b
                    INNER JOIN Facilities as f
                    USING(facid)
                    INNER JOIN Members AS m
                    USING(memid)
                    WHERE firstname NOT LIKE 'GUEST' AND surname NOT LIKE 'GUEST'
                    ORDER BY surname, firstname;''')
question_12 = pd.DataFrame(q12.fetchall(), columns = ['firstname', 'lastname', 'facility'])
question_12.head()

  firstname lastname         facility
0  Florence    Bader  Badminton Court
1  Florence    Bader       Pool Table
2  Florence    Bader     Table Tennis
3  Florence    Bader     Table Tennis
4  Florence    Bader    Snooker Table

In [18]:
q13 = con.execute('''SELECT name AS facility, EXTRACT(MONTH FROM starttime) AS Month
                    FROM Bookings AS b
                    INNER JOIN Facilities as f
                    USING(facid)
                    INNER JOIN Members AS m
                    USING(memid)
                    WHERE firstname NOT LIKE 'GUEST' AND surname NOT LIKE 'GUEST';''')
question_13 = pd.DataFrame(q13.fetchall(), columns = ['facility', 'Month'])
question_13

OperationalError: (sqlite3.OperationalError) near "FROM": syntax error
[SQL: SELECT name AS facility, EXTRACT(MONTH FROM starttime) AS Month
                    FROM Bookings AS b
                    INNER JOIN Facilities as f
                    USING(facid)
                    INNER JOIN Members AS m
                    USING(memid)
                    WHERE firstname NOT LIKE 'GUEST' AND surname NOT LIKE 'GUEST';]
(Background on this error at: http://sqlalche.me/e/13/e3q8)